{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

    <h5>Quote Stock Price</h5><br>
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>

    {% if output %}
        <br><br>
        <p>
            {{ output }}
        </p>
    {% endif %}


{% endblock %}